extends layout

block content
	include header
	div.container
		div.jumbotron
			h1 #{__('Answer Management')}
			div.row
				div.col-md-12
					div.table-responsive
						h2 #{__('Question')}
						table.table.table-bordred.table-striped(id='mytable')
							thead
								th #{__('Text')}
							tbody
								tr
									td
										p #{question.text}
					div.table-responsive
						h2 Answers				
						table.table.table-bordred.table-striped(id='mytable')
							thead
								th #{__('#Ref')}
								th #{__('Text')}
								th #{__('Score')}
								th #{__('Edit answer')}
								th #{__('Delete answer')}
							tbody
								each a, counter in question.answers
									tr
										td
											p #{counter + 1}
										td
											p #{a.text}
										td
											p #{a.score}
										td
											p
												a.open-EditAnswer.btn.btn-primary.btn-xs(href='#editAnswer' data-toggle='modal' data-id='#{question._id}' data-answerid='#{a._id}' data-score='#{a.score}' data-text='#{a.text}')
													span.glyphicon.glyphicon-pencil
										td
											p
												a.btn.btn-danger.btn-xs(href='#{question._id}/#{a._id}/delete')
													span.glyphicon.glyphicon-trash									
		div.modal.fade(id='editAnswer' tabindex='-1' role='dialog' aria-labelledby='edit' aria-hidden='true')
			div.modal-dialog
				div.modal-content
					form#formEditAnswer(name="editanswer",method="post",action="/answer/edit/")
						div.modal-header
							button.close(type='button' data-dismiss='modal' aria-hidden='true') X
							h4.modal-title.custom_align(id='Heading') #{__('Edit an answer')}
						div.modal-body
							div.form-group
								input(type='hidden' name='qid' id='qid')
								input(type='hidden' name='aid' id='aid')
							div.form-group
								label #{__('Score')}
								select.form-control(name='ascore' id='ascore')
									option(value='0') 0 (false)
									option(value='0.25') 0.25
									option(value='0.5') 0.5
									option(value='0.75') 0.75
									option(value='1') 1 (true)
									option(value='1.25') 1.25
									option(value='1.5') 1.5
									option(value='1.75') 1.75
									option(value='2') 2
									option(value='2.25') 2.25
									option(value='2.5') 2.5
									option(value='2.75') 2.75
									option(value='3') 3
									option(value='3.25') 3.25
									option(value='3.5') 3.5
									option(value='3.75') 3.75
									option(value='4') 4
									option(value='4.25') 4.25
									option(value='4.5') 4.5
									option(value='4.75') 4.75
									option(value='5') 5
									option(value='5.25') 5.25
									option(value='5.5') 5.5
									option(value='5.75') 5.75
									option(value='6') 6
									option(value='6.25') 6.25
									option(value='6.5') 6.5
									option(value='6.75') 6.75
									option(value='7') 7
									option(value='7.25') 7.25
									option(value='7.5') 7.5
									option(value='7.75') 7.75
									option(value='8') 8
									option(value='8.25') 8.25
									option(value='8.5') 8.5
									option(value='8.75') 8.75
									option(value='9') 9
									option(value='9.25') 9.25
									option(value='9.5') 9.5
									option(value='9.75') 9.75
									option(value='10') 10
							div.form-group
								label #{__('Text')}
								textarea.form-control(rows='2' name='atext' id='atext')
						div.modal-footer
							button.btn.btn-success(type='submit' style='width: 100%;')
								span.glyphicon.glyphicon-ok-sign
									| #{__('Update')}