extends layout

block content
	include header
	div.container
		div.jumbotron
			h1 #{__('Exam Management')}
			div.row
				div.col-md-12
					h2 #{__('Exam List')}
					a.btn.btn-primary(href='http://localhost:3000/question')
						| #{__('Go back to question list')}
					div.table-responsive
						table.table.table-bordred.table-striped(id='mytable')
							thead
								th #{__('#Ref')}
								th #{__('Exam ID')}
								th #{__('Number of questions')}
								th #{__('Score')}
								th #{__('See exam(formats)')}
								th #{__('Delete')}
							tbody
								each e, counter in exams
									tr
										td
											p #{counter + 1}
										td
											p #{e._id}
										td
											p #{e.questQuantity}
										td
											p #{e.score}
										td
											a(href='exam/#{e._id}?examformat=HTML')
												img(alt='htmlformat', src='http://localhost:3000/images/html.png')
											a(href='exam/#{e._id}?examformat=JSON')
												img(alt='jsonformat', src='http://localhost:3000/images/json.png')
											a(href='exam/#{e._id}?examformat=XML')
												img(alt='xmlformat', src='http://localhost:3000/images/xml.jpg')
										td
											p
												a.btn.btn-danger(href='exams/#{e._id}/delete')
													span.glyphicon.glyphicon-trash