extends layout

block content
	include header
	div.container
		div.jumbotron
			h1 Exam ID: #{exam._id}
			div.row
				div.col-md-12
					form(role='form' method='get' action='#{exam._id}/evaluate')
						ol
							each q in exam.questions
								li
									p #{q.text}
									ul
										if q.type == 'multichoice'
											each a in q.answers
												li
													p
														input(type='checkbox' name='#{q._id}' value='#{a._id}') 
														|  #{a.text}
										if q.type == 'truefalse'
											each a in q.answers
												li
													p
														input(type='radio' name='#{q._id}' value='#{a._id}') 
														|  #{a.text}
						button.btn.btn.lg.btn-primary(
						  type='submit'
						) #{__('Submit')}