extends layout

block content
	div.container
		include header
		div.logo
			img(alt='examinator', src='http://localhost:3000/images/profile.png')
			h1 Examinator
		div.clear
		div.contenido
			if invalid
				div.form-signin
					div.alert.alert-danger(role='alert')
						p Wrong credentials
			if exist
				div.form-signin
					div.alert.alert-danger(role='alert')
						p There is already an account with that username.
			form.form-signin(role='form' method='post')
				label.inputLabel(for='inputEmail') #{__('Username')}
				input.form-control(
				  type='email'
				  id='inputEmail'
				  name='username'
				  required
				)
				div.clear
				label.inputLabel(for='inputPassword') #{__('Password')}
				input.form-control(
				  type='password'
				  id='inputPassword'
				  name='password'
				  required
				)
				div.clear
				button.btn.btn.lg.btn-primary.btnLeft(
				  type='submit'
				  formaction='/login'
				) #{__('Login')}
				button.btn.btn.lg.btn-primary.btnRight(
				  type='submit'
				  formaction='/register'
				) #{__('Register')}
