nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    div.container
        div.navbar-header
            a.navbar-brand(href="#") Examinator
        div.navbar-collapse.collapse(id='navbar')
            if user
                ul.nav.navbar-nav
                    li
                        a(href="/question") #{__('Questions')}
                    li
                        a(href="/exams") #{__('Exams')}
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="?lang=es") #{__('spanish')}
                    li
                        a(href="?lang=en") #{__('english')}
                    li
                        a(href="?lang=eu") #{__('basque')}
                    li
                        a(href="/profile" name="username") #{__('hi')} #{user}
                    li
                        a(href='/')
                            span.glyphicon.glyphicon-log-out
            else
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="?lang=es") #{__('spanish')}
                    li
                        a(href="?lang=en") #{__('english')}
                    li
                        a(href="?lang=eu") #{__('basque')}