extends layout

block content
	include header
	div.container
		div.jumbotron
			h1 #{__('User profile')}
			div.row
				div.col-md-12
					h2 #{__('Exam List')}
					div.table-responsive
						table.table.table-bordred.table-striped(id='mytable')
							thead
								th #{__('#Ref')}
								th #{__('Exam ID')}
								th #{__('Score')}
								th #{__('Do it again')}
								th #{__('Delete')}
							tbody
								each e, counter in exams
									tr
										td
											p #{counter + 1}
										td
											p #{e.examid}
										td
											p #{e.score}
										td
											a(href='exam/#{e.examid}?examformat=HTML') #{__('Do it again')}
										td
											p
												a.btn.btn-danger(href='profile/#{e._id}/delete')
													span.glyphicon.glyphicon-trash