extends layout

block content
	include header
	div.container
		div.jumbotron
			h1 #{__('Question Management')}
			div.row
				div.col-md-12
					h2 #{__('Question List')}
					button.btn.btn-primary(data-title='Add' data-toggle='modal' data-target='#add')
						span.glyphicon.glyphicon-plus-sign 
							| #{__('Add a new question')}
					button.btn.btn-primary(data-title='Exam' data-toggle='modal' data-target='#exam')
						span.glyphicon.glyphicon-file
							| #{__('Create an exam')}
					div.table-responsive
						table.table.table-bordred.table-striped(id='mytable')
							thead
								th #{__('#Ref')}
								th #{__('Type')}
								th #{__('Language')}
								th #{__('Question')}
								th #{__('Vote up')}
								th #{__('Vote down')}
								th #{__('Edit question')}
								th #{__('Delete question')}
								th #{__('Answer Management')}
							tbody
								each q, counter in questions
									tr
										td
											p #{counter + 1}
										td
											p #{q.type}
										td
											p #{q.language}
										td
											p #{q.text}
										td
											p #{q.voteup} 
												a.btn.btn-primary.btn-xs(href='question/#{q._id}/addvote')
													span.glyphicon.glyphicon-thumbs-up
										td
											p #{q.votedown} 
												a.btn.btn-primary.btn-xs(href='question/#{q._id}/votedown')
													span.glyphicon.glyphicon-thumbs-down
										td
											p
												a.open-EditQuestion.btn.btn-primary.btn-xs(href='#edit' data-toggle='modal' data-id='#{q._id}' data-type='#{q.type}' data-language='#{q.language}' data-text='#{q.text}')
													span.glyphicon.glyphicon-pencil
										td
											p
												a.btn.btn-danger.btn-xs(href='question/#{q._id}/delete')
													span.glyphicon.glyphicon-trash
										td
											p
												a.open-AddAnswers.btn.btn-primary.btn-xs(href='#answers' data-toggle='modal' data-id='#{q._id}')
													span.glyphicon.glyphicon-plus
												a.open-EditQuestion(href='/answer/#{q._id}' data-toggle='modal' data-id='#{q._id}' data-type='#{q.type}' data-language='#{q.language}' data-text='#{q.text}')
													img(alt='editordelete', src='http://localhost:3000/images/editordelete.png')
		div.modal.fade(id='add' tabindex='-1' role='dialog' aria-labelledby='add' aria-hidden='true')
			div.modal-dialog
				div.modal-content
					form#formAddQuestion(name="addquestion",method="post",action="/addquestion")
						div.modal-header
							button.close(type='button' data-dismiss='modal' aria-hidden='true') X
							h4.modal-title.custom_align(id='Heading') #{__('Add a new question')}
						div.modal-body
							div.form-group
								label #{__('Type')}
								select.form-control(name='type')
									option(value='multichoice') #{__('Multichoice')}
									option(value='truefalse') #{__('Truefalse')}
							div.form-group
								label #{__('Language')}
								select.form-control(name='language')
									option(value='eu') #{__('basque')}
									option(value='en') #{__('english')}
									option(value='es') #{__('spanish')}
							div.form-group
								label #{__('Text')}
								textarea.form-control(rows='2' name='qtext')
						div.modal-footer
							button.btn.btn-success(type='submit' style='width: 100%;')
								span.glyphicon.glyphicon-ok-sign
									| #{__('Add')}
		div.modal.fade(id='edit' tabindex='-1' role='dialog' aria-labelledby='edit' aria-hidden='true')
			div.modal-dialog
				div.modal-content
					form#formEditQuestion(name="editquestion",method="post",action="/question/edit")
						div.modal-header
							button.close(type='button' data-dismiss='modal' aria-hidden='true') X
							h4.modal-title.custom_align(id='Heading') #{__('Edit a question')}
						div.modal-body
							div.form-group
								input(type='hidden' name='qid' id='qid')
							div.form-group
								label #{__('Type')}
								select.form-control(name='qtype' id='qtype')
									option(value='multichoice') #{__('Multichoice')}
									option(value='truefalse') #{__('Truefalse')}
							div.form-group
								label #{__('Language')}
								select.form-control(name='qlanguage' id='qlanguage')
									option(value='eu') #{__('basque')}
									option(value='en') #{__('english')}
									option(value='es') #{__('spanish')}
							div.form-group
								label #{__('Text')}
								textarea.form-control(rows='2' name='qtext' id='qtext')
						div.modal-footer
							button.btn.btn-success(type='submit' style='width: 100%;')
								span.glyphicon.glyphicon-ok-sign
									| #{__('Update')}
		div.modal.fade(id='exam' tabindex='-1' role='dialog' aria-labelledby='edit' aria-hidden='true')
			div.modal-dialog
				div.modal-content
					form#formCreateExam(name="createexam",method="post",action="/exam/create")
						div.modal-header
							button.close(type='button' data-dismiss='modal' aria-hidden='true') X
							h4.modal-title.custom_align(id='Heading') #{__('Create an exam')}
						div.modal-body
							div.form-group
								label #{__('Number of questions')}
								br
								input(type='text' name='qNum' id='qNum')
						div.modal-footer
							button.btn.btn-success(type='submit' style='width: 100%;')
								span.glyphicon.glyphicon-ok-sign
									| #{__('Create')}
		div.modal.fade(id='answers' tabindex='-1' role='dialog' aria-labelledby='add' aria-hidden='true')
			div.modal-dialog
				div.modal-content
					form#formAddAnswers(name="addanswer",method="post",action="/question/addanswer")
						div.modal-header
							button.close(type='button' data-dismiss='modal' aria-hidden='true') X
							h4.modal-title.custom_align(id='Heading') #{__('Add a new answer')}
						div.modal-body
							div.form-group
								input(type='hidden' name='qid' id='qid')
							div.form-group
								label #{__('Score')}
								select.form-control(name='ascore')
									option(value='0') 0 (false)
									option(value='0.25') 0.25
									option(value='0.5') 0.5
									option(value='0.75') 0.75
									option(value='1') 1
									option(value='1.25') 1.25
									option(value='1.5') 1.5
									option(value='1.75') 1.75
									option(value='2') 2
									option(value='2.25') 2.25
									option(value='2.5') 2.5
									option(value='2.75') 2.75
									option(value='3') 3
									option(value='3.25') 3.25
									option(value='3.5') 3.5
									option(value='3.75') 3.75
									option(value='4') 4
									option(value='4.25') 4.25
									option(value='4.5') 4.5
									option(value='4.75') 4.75
									option(value='5') 5
									option(value='5.25') 5.25
									option(value='5.5') 5.5
									option(value='5.75') 5.75
									option(value='6') 6
									option(value='6.25') 6.25
									option(value='6.5') 6.5
									option(value='6.75') 6.75
									option(value='7') 7
									option(value='7.25') 7.25
									option(value='7.5') 7.5
									option(value='7.75') 7.75
									option(value='8') 8
									option(value='8.25') 8.25
									option(value='8.5') 8.5
									option(value='8.75') 8.75
									option(value='9') 9
									option(value='9.25') 9.25
									option(value='9.5') 9.5
									option(value='9.75') 9.75
									option(value='10') 10 
							div.form-group
								label #{__('Text')}
								textarea.form-control(rows='2' name='atext')
						div.modal-footer
							button.btn.btn-success(type='submit' style='width: 100%;')
								span.glyphicon.glyphicon-ok-sign
									| #{__('Add')}