.logo {
	text-align: center;
	text: #fff;
}

.logo img {
	margin: 7% auto;
	display: block;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .usertype {
  margin-left: 55px;
  margin-bottom: 10px;
}
.form-signin .usertype {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.inputLabel {
	margin-top: 7px;
	margin-bottom: 7px;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin button {
  margin-top: 3px;
  display: inline;
  width: 45%;
}

.form-signin .btnRight {
  float: right;
}

.form-signin .btnLeft {
  float: left;
}